.shelf-wrapper{
	height: 100%;
	margin: auto;
	width: 1200px;
	background-color: #F5F3F1;
	border: #3B3A38 8px solid;
}

.one-shelf {
	fill:#3B3A38;
	stroke-width:5;
}

#shelf-svg{
	height: 1650px;
	margin: auto;
	width: 1200px;
}

#shelf-svg-top{
	height: 200px;
	margin: auto;
	width: 1200px;
	
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top:30px;
}